/*Footer*/

footer {
    background-color: $background-black;
    text-align: center;
    color: $color-font;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    .copy {
        padding-right: 60px;
    }
    a img {
        height: 100px;
        padding: 20px;
        margin: 0px 5px;
        :hover {
            transform: $transform;
        }
    }
}

