@mixin fondo-texto {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
}

//Variables
$color-font: aliceblue;
$color-hover: rgb(23, 241, 231);
$transform: scale(1.1);
$background-black: #2c2a2a;